/* CSS Document */

.div_asignatura{
 padding:10px;
 background:#FFF;
 border:1px solid #AAAAAA;
 width:auto;
 height:auto;
 text-align:center;
 margin-bottom:5px;
 display:inline-block;
 margin-left:8px;
 
 
 -webkit-box-shadow:  3px 3px 3px rgba(50,50,50,0.28);
-moz-box-shadow:     3px 3px 3px rgba(50,50,50,0.28);
box-shadow:         3px 3px 3px rgba(50,50,50,0.28);
}

.div_asignatura:hover{

-moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
-o-transform: scale(1.05) ;
-ms-transform: scale(1.05);
transform: scale(1.05);


cursor:pointer;

-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
-ms-transition: all 0.1s linear;
-o-transition: all 0.1s linear;
transition: all 0.1s linear;


}
.div_asignatura:active{
-moz-transform: scale(0.9);
-webkit-transform: scale(0.9);
-o-transform: scale(0.9) ;
-ms-transform: scale(0.9);
transform: scale(0.9);
}